.main-container-forgot {
    margin-top: 10%;
}

.box-container-forgot {
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    box-shadow: beige;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

.heading-forgot {
    text-align: center;
    font-weight: 300;
    color: #444;
    margin: 0 auto 45px;
    font-size: 35px;
    line-height: 38px;
    text-transform: none;
    letter-spacing: 0;
}

.form-fields-forgot, .form-fields-forgot button {
    width: 100%;
    margin: 5px 0;
    line-height: 28px;
    border-radius: 5px;
}
.form-fields-forgot input {
    width: 100%;
    line-height: 40px;
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 0 5px;
    font-size: 14px;
}

.forGot {
    padding: 10px 32px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background: #15CD72;
    text-align: center;
    cursor: pointer;
    height: auto;
    -webkit-appearance: none;
}