.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.merged_container {
  display: flex;
  align-items: stretch;
}

.merged_container .left_container {
  position: relative;
  width: 60%;
  padding-right: 7%;
}

.merged_container .right_container {
  width: 40%;
  position: relative;
}

.price_container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.details_box_wrapper {
  background: #9b9b9b;
}

.picker_title {
  color: #9b9b9b;
  font-weight: 700;
}

.calendar_picker_wrapper {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #eceeef;
}

.price_wrapper {
  margin: 15px;
  background-color: #fff;
  font-size: 14px;
  overflow: hidden;
}

.price_wrapper .title_price {
  background-color: #eee;
  width: 100%;
  color: #0078ff;
  padding: 3px 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_wrapper .row-price {
  padding: 7px 10px;
  border-bottom: 1px solid #eceeef;
}

.price_wrapper .row-price .col-auto {
  max-width: 77%;
}

.mr-auto, .mx-auto {
  margin-right: auto!important;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
}

.row-price {
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.price_wrapper .summary-price {
  font-weight: 800;
  padding-right: 10px;
  font-size: 16px;
}
.merged_container .header_container {
  display: block;
//   flex-direction: row;
//   margin-bottom: 5px;
}

.merged_container h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  // margin-bottom: .7rem;
}

.merged_container .header_left {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.header_left {
  font-family: Roboto, helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.428571429;
  color: #000;
  box-sizing: border-box;
}


.merged_container .header_left .branch_content {
    font-size: 12px;
    padding-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.merged_container .header_right {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallery {
  height: 350px;
  position: relative;
}

.gallery_wrapper {
  padding-top: 5%;
  width: 100%;
  margin-bottom: 50%;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}
.gallery_wrapper .gallery {
    display: flex !important;
    flex-wrap: wrap !important;
    height: 285px;
    flex-direction: column !important;
    text-align: center !important;
}

.gallery_wrapper .gallery__item {
  position: relative !important;
  width: 30% !important;
  height: 90px !important;
  background: 0 0 !important;
  margin-bottom: 5px !important;
  cursor: pointer !important;
}

.gallery_wrapper .gallery__item:first-child {
  width: calc(70% - 5px) !important;
  height: 345px !important;
  margin-right: 5px !important;
}

.table__car_detail {
  margin-bottom: 5%;
}

.button_box {
  display: flex;
  justify-content: space-around;
  width: auto;
}

// .image-gallery {
//   width: 40%;
//   height: auto;
// }

.image-gallery-slide img {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}

// .submit_button_wrapper .button_box {
//   display: flex;
//   justify-content: space-around;
// }



// @media screen and (min-width: 1200px){
//     .container, .container-lg, .container-md, .container-sm, .container-xl {
//         max-width: 1140px;
//     }
// }

// @media screen and (min-width: 992px){
//     .container, .container-lg, .container-md, .container-sm {
//         max-width: 960px;
//     }
// }

// @media screen and (min-width: 768px) {
//     .container, .container-md, .container-sm {
//         max-width: 720px;
//     }
// }

// @media screen and (min-width: 576px) {
//     .container, .container-sm {
//         max-width: 540px;
//     }
// }
