.progress-book {
    position: relative;
    display: block;
    width: 80%;
    height: auto;
    left: 128px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #ffff;
    color: #0078ff;
}